*{
    margin: 0;
    padding: 0;

}

body{
    background: #55ffe5;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{

    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px ;
    background: #1c00b5;
    color: fff;
}

h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 10px;  
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border-radius: none;
    border-bottom: 0.2pc;
    outline: none; 
    padding-bottom: 5px;
}

